---
interface Props {
  text: string;
  link?: string;
  isHeader?: boolean;
}

const { text, link, isHeader } = Astro.props;
let isActive;
if (link == Astro.url.pathname) {
  isActive = true;
}
---

<div
  class:list={[
    isHeader && "font-semibold pl-2",
    !isHeader && "hover:bg-neutral-800 cursor-pointer px-2",
    "rounded-lg bg-opacity-50 py-1 group",
  ]}
  style="text-shadow: 0 0 0.5rem white;"
>
  {
    link && (
      <a
        href={link}
        class:list={[
          "text-neutral-100 group-hover:text-neutral-200",
          isActive && "text-neutral-200",
        ]}
      >
        {text}
      </a>
    )
  }
  {!link && <span class="text-neutral-100">{text}</span>}
</div>
