---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="VueTube | About">
  <section class="grid h-[50vh] place-items-center text-center">
    <h1 class="max-w-screen-md text-5xl font-black">Newsroom.</h1>
  </section>
</Layout>
