---
import SideNav from "../layouts/SideNav.astro";
import { Icon } from "astro-iconify";
---

<script>
  const menuButton = document.getElementById("menu");
  menuButton?.addEventListener("click", () => {
    document.getElementById("nav")?.classList.toggle("-translate-x-full");
  });
</script>
<SideNav title="VueTube | Contribute">
  <aside
    id="nav"
    class="fixed left-0 top-[9rem] flex -translate-x-full flex-col gap-2 overflow-y-auto px-4 py-2 pt-4 backdrop-blur-xl duration-300 ease-in-out lg:top-[5.5rem] lg:translate-x-0"
    style="height: calc(100dvh - 5.5rem)"
  >
    <!-- TODO : replace with a Vue component that loops over a map of links -->
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Welcome
    </div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Getting Started
    </div>
    <div class="m-2 rounded-2xl bg-neutral-800 bg-opacity-50 p-2">
      <div class="m-2 text-sm font-bold">The Mobile App</div>
      <div
        class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Setup Environment
      </div>
      <div
        class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Xcode
      </div>
      <div
        class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Android Studio
      </div>
      <div
        class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Capacitor
      </div>
      <div
        class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Project Folder Structure
      </div>
    </div>
    <b class="mt-2 pl-2 text-sm font-bold">The Extractor</b>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Setup Environment
    </div>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      /youtube-new
    </div>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      /youtube
    </div>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Usage Examples
    </div>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Testing
    </div>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Helpers
    </div>
    <!-- <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Types
    </div>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Error Handling
    </div> -->
    <b class="mt-2 pl-2 text-sm font-bold">Plugins</b>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      VueTube Plugins
    </div>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Capacitor Plugins
    </div>
    <b class="mt-2 pl-2 text-sm font-bold">Translations</b>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      JSON files
    </div>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Using VueTube Translator (Beta)
    </div>
    <!-- TODO : add sections for this website -->
  </aside>
  <div class="min-h-[100vh] w-full">
    <nav
      class="fixed top-[5.5rem] flex w-full items-center border-b border-t border-neutral-800 p-4 px-6 outline-2 outline-red-500 backdrop-blur-xl lg:hidden"
    >
      <button id="menu" class="mr-6">
        <Icon class="h-6 w-6" name="mdi:menu" />
      </button>
      <span>The Mobile App {">"} Environment Setup</span>
    </nav>
  </div>
</SideNav>
