---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-iconify";
---

<Layout title="VueTube | Docs">
  <aside
    class="fixed left-0 top-[5.5rem] flex flex-col gap-2 overflow-y-auto px-4 py-2"
    style="height: calc(100dvh - 5.5rem)"
  >
    <!-- TODO : replace with a Vue component that loops over a map of links -->
    <div class="m-2 text-sm font-bold">Install</div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Downloads
    </div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Android System WebView
    </div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 text-yellow-400 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem #facc15;"
    >
      Unstable
    </div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 text-orange-400 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem #fb923c;"
    >
      Canary
    </div>
    <div class="m-2 text-sm font-bold">Supported Devices</div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Android
    </div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Windows
    </div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Linux
    </div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Apple
    </div>
    <div class="m-2 flex items-center text-sm font-bold">
      <Icon class="mr-1 h-4 w-4" name="mdi:power-plug" />
      Plugins
    </div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Installing Plugins
    </div>
    <div class="m-2 flex items-center text-sm font-bold">
      <Icon class="mr-1 h-4 w-4" name="mdi:backup-restore" />
      Backups
    </div>
    <div
      class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Import/Export
    </div>
  </aside>
</Layout>
