---
import { Icon } from "astro-iconify";
import Layout from "../layouts/Layout.astro";
---

<Layout title="VueTube">
  <section
    class="z-10 flex h-[100dvh] w-full max-w-screen-lg portrait:flex-col"
  >
    <!-- half and half -->
    <div
      class="w-1/2 bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112627081617084416/image.png?width=762&height=1400')] bg-contain bg-center bg-no-repeat"
    >
    </div>
    <div class="grid w-1/2 place-content-center">
      <h1 class="mb-4 text-4xl font-black leading-10 lg:text-6xl">
        Video <br /> Watching, <br />
        <span
          class="bg-[url('https://media1.giphy.com/media/l378oRMuApI3a35Cg/giphy.gif')] bg-clip-text bg-center text-transparent hue-rotate-90 invert"
        >
          Suprecharged
        </span>
      </h1>
      <div class="flex items-start">
        <button
          class="flex items-center rounded-2xl border border-neutral-500 bg-white px-3 py-1 font-black uppercase text-black duration-150 hover:bg-black hover:px-6 hover:text-white active:py-6 active:duration-75"
        >
          <Icon class="mr-4 h-6 w-6" name="mdi:download" />
          Download
        </button>
        <button
          class="ml-2 rounded-2xl border border-neutral-500 px-3 py-1 font-black duration-150 hover:bg-neutral-800 hover:text-white"
        >
          or don't ¯\_(ツ)_/¯
        </button>
      </div>
    </div>
  </section>
  <div
    class="sticky left-0 top-[5.5rem] h-[10rem] w-full rounded-t-[10rem] bg-neutral-800"
    style="height: calc(100vh - 5.5rem)"
  >
  </div>
  <section
    class="top-[5.5rem] z-10 flex h-[200dvh] w-full flex-col items-center"
    style="margin-top: calc(-100dvh + 10.5rem);"
  >
    <div
      class="h-[100dvh] w-full bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112651039968088064/image.png?width=1468&height=1402')] bg-contain bg-center bg-no-repeat"
    >
    </div>
    <div
      class="h-[100dvh] w-[60vw] bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112653454859571231/image.png?width=2382&height=1402')] bg-contain bg-center bg-no-repeat"
    >
    </div>
  </section>

  <footer
    class="sticky top-[15.5rem] w-full bg-black"
    style="max-height: calc(100dvh - 15.5rem);"
  >
    <div class="h-[5rem] w-full rounded-b-[5rem] bg-neutral-800"></div>
    <div class="sticky top-0 grid w-full place-items-center bg-black py-16">
      <div
        class="h-[40vh] w-full bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112654424842707047/image.png?width=2592&height=1128')] bg-cover bg-top bg-no-repeat"
      >
      </div>
    </div>
  </footer>
</Layout>
