---
import Layout from "../layouts/Layout.astro";
---

<Layout title="VueTube">
  <nav
    class="sticky m-4 rounded-xl border border-white border-opacity-50 bg-neutral-500 bg-opacity-50 p-4 opacity-50 backdrop-blur-md"
  >
    VyooTyoob
  </nav>
</Layout>
