---
import { Icon } from "astro-iconify";
import Layout from "../layouts/SplashLayout.astro";
import Interactive from "../components/Interactive.vue";
import Contributors from "../components/Contributors.vue";
import { Octokit } from "@octokit/core";
import RYD from "../components/icons/ryd.vue";
import Sponsorblock from "../components/icons/sponsorblock.vue";
import ThreeDPhone from "../components/3d-phone.vue";

async function getOcto() {
  if (!import.meta.env.PROD) {
    console.log("You are not in production mode. Mocking data.");
    return Array(30).fill({
      login: "Frontesque",
      avatar_url: "https://avatars.githubusercontent.com/u/27463495?v=4",
      html_url: "https://github.com/Frontesque",
    });
  }
  if (!import.meta.env.GITHUB_TOKEN) {
    console.error("No GitHub token provided. Please set GITHUB_TOKEN env var.");
    return [];
  }
  const octokit = new Octokit({ auth: import.meta.env.GITHUB_TOKEN });
  const response = await octokit.request(
    "GET /repos/{owner}/{repo}/contributors",
    {
      owner: "VueTubeApp",
      repo: "VueTube",
      headers: {
        "X-GitHub-Api-Version": "2022-11-28",
      },
    }
  );
  // put all avatar urls in a list
  return response.data.map((contributor) => contributor);
}

const avatars = await getOcto();
---

<Layout>
  <section
    class="flex h-[100dvh] w-full max-w-screen-xl gap-4 portrait:flex-col-reverse"
  >
    <!-- half and half -->
    <div
      class="relative hidden w-1/2 place-items-center bg-contain bg-center bg-no-repeat md:grid portrait:h-1/2 portrait:w-full portrait:bg-cover portrait:bg-top"
    >
      <ThreeDPhone client:load />
    </div>
    <div
      class="relative grid w-1/2 place-items-center bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112627081617084416/image.png?width=762&height=1400')] bg-contain bg-center bg-no-repeat md:hidden md:bg-transparent portrait:h-1/2 portrait:w-full portrait:bg-cover portrait:bg-top"
    >
    </div>
    <div
      class="flex w-1/2 flex-col justify-center portrait:h-1/2 portrait:w-full portrait:justify-end"
    >
      <h1
        class="mb-6 text-4xl font-black md:text-5xl lg:mb-8 portrait:text-center"
      >
        Video Watching, <br />
        <span
          class="bg-[url('/giphy.png')] bg-clip-text bg-center text-transparent hue-rotate-90 invert"
        >
          Supercharged
        </span>
      </h1>
      <div
        class="flex items-start gap-x-2 portrait:flex-col portrait:items-center portrait:gap-y-6"
      >
        <Interactive
          url="#download"
          class="border border-white bg-white px-6 py-2 font-semibold text-black duration-150 hover:border-neutral-600 hover:bg-black hover:px-10 hover:text-white focus:bg-black focus:px-10 focus:text-white focus:outline-none focus:ring focus:ring-neutral-300 active:scale-95 active:py-6 active:duration-75 landscape:rounded-r-md"
        >
          <Icon class="h-6 w-6" name="mdi:download" />
          Download
        </Interactive>
        <a
          href="/"
          class="rounded-3xl border border-neutral-600 px-6 py-2 font-semibold capitalize text-white duration-150 hover:bg-neutral-600 focus:bg-neutral-800 focus:outline-none focus:ring focus:ring-neutral-300 landscape:rounded-l-md"
        >
          or don't ¯\_(ツ)_/¯
        </a>
      </div>
    </div>
  </section>
  <div
    class="sticky top-[5.5rem] -z-10 h-[10rem] w-full rounded-t-3xl bg-gradient-to-b from-neutral-800 to-transparent lg:rounded-t-[10rem]"
    style="height: calc(50dvh - 5.5rem)"
  >
  </div>
  <section
    class="top-[5.5rem] flex w-full flex-col items-center"
    style="margin-top: calc(-50dvh + 10.5rem);"
  >
    <h2 class="mb-8 text-center text-4xl font-bold capitalize md:mb-4">
      You Are In Control
    </h2>
    <h3 class="max-w-prose px-4 text-neutral-400 md:text-lg">
      &emsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
      minima modi sunt eius laborum adipisci exercitationem? Nam rem aut vel
      adipisci doloribus consequuntur ipsum! Ipsa facere ducimus eaque provident
      ipsum.
    </h3>

    <!-- Grid -->
    <section
      class="grid w-full max-w-screen-md grid-cols-1 grid-rows-[repeat(4,_minmax(400px,_1fr))] gap-4 p-4 md:grid-cols-6 md:grid-rows-[minmax(350px,_1.7fr)_minmax(240px,_1.25fr)]"
    >
      <a
        href="/features"
        class="cursor-pointer rounded-3xl bg-[url('https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3431&q=80')] bg-cover p-5 duration-300 hover:scale-[1.03] hover:p-6 hover:text-blue-300 active:scale-95 md:col-span-2"
      >
        <span class="text-xs font-light text-blue-300">
          Community Translations
        </span>
        <h3 class="text-base font-bold capitalize leading-5">
          Videos for everyone, <br /> in every language
        </h3>
      </a>
      <div
        class="flex flex-col gap-2 rounded-3xl bg-neutral-700 p-4 pb-0 duration-300 hover:scale-[1.03] md:col-span-4 md:row-span-1"
      >
        <div class="p-4 md:p-0 md:pb-0 md:text-center">
          <h3 class="text-xs font-light text-brand-purple">
            Built-in extensions
          </h3>
          <h3 class="text-lg font-bold leading-5">
            Streamline Your <br /> Watching Experience
          </h3>
        </div>
        <div class="grid h-full w-full grid-cols-2 gap-4 md:px-6">
          <div class="relative mx-auto w-full overflow-hidden">
            <!-- This will be a fancy animation. Image for effect -->
            <img
              src="/extension-mock.png"
              alt=""
              class="absolute mx-auto w-full drop-shadow-lg"
            />
          </div>
          <div
            class="flex flex-col content-center items-center justify-around gap-4 p-4 text-center text-xs"
          >
            <!-- Pretend this one is active for now -->
            <div
              class="group flex w-full flex-grow basis-0 flex-col items-center justify-center gap-2 rounded-2xl bg-white drop-shadow-lg duration-300 hover:bg-purple-100 md:p-4"
            >
              <Sponsorblock
                class="h-11 text-gray-300 duration-300 group-hover:text-[#413663]"
              />
            </div>

            <div
              class="group flex w-full flex-grow basis-0 flex-col items-center justify-center gap-2 rounded-2xl bg-white drop-shadow-lg duration-300 hover:bg-purple-100 md:p-4"
            >
              <RYD
                class="h-11 text-gray-300 duration-300 group-hover:text-[#413663]"
              />
            </div>
            <div
              class="group flex w-full flex-grow basis-0 flex-col items-center justify-center gap-2 rounded-2xl bg-white drop-shadow-lg duration-300 hover:bg-purple-100 hover:outline-2 md:p-4"
            >
              <Icon
                name="fa-solid:plug"
                class="h-11 text-gray-300 duration-300 group-hover:text-[#413663]"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col rounded-3xl bg-neutral-700 p-4 pb-0 duration-300 hover:scale-[1.03] md:col-span-4 md:row-span-1 md:flex-row"
      >
        <div class="p-4 pr-0 md:w-1/2 md:p-8">
          <span class="text-light text-xs text-emerald-100">
            Customizations
          </span>
          <h3 class="mb-2 font-bold leading-5">Tailor-made For You</h3>
          <p class="text-xs text-neutral-300">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
            consectetur laboriosam modi fuga doloribus ut!
          </p>
        </div>
        <div class="relative flex-grow overflow-hidden">
          <img
            src="/customise-mock.png"
            class="absolute mx-auto h-auto w-auto pt-4 drop-shadow-lg"
          />
        </div>
      </div>
      <a
        href="/features"
        class="flex cursor-pointer flex-col justify-end rounded-3xl bg-neutral-700 bg-cover p-4 duration-300 hover:scale-[1.03] hover:p-5 hover:text-brand-yellow active:scale-95 md:col-span-2"
        style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%),url('https://images.unsplash.com/photo-1510535043828-3d1edc68071e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80')"
      >
        <span
          class="text-xs font-light text-brand-yellow"
          style="text-shadow: 0 0 0.5rem #000;">Fast & Private</span
        >
        <h3 class="text-base font-bold leading-5">
          Privacy At Lightning Speeds
        </h3>
      </a>
    </section>

    <h2 class="mb-12 mt-24 text-center text-4xl font-bold capitalize md:mb-2">
      Discover what's new
    </h2>
    <section
      class="flex w-full flex-col items-center bg-gradient-to-b from-transparent to-black p-4 pb-10"
    >
      <div
        class="relative flex w-full max-w-screen-md flex-col flex-wrap items-baseline gap-y-2 p-4 md:flex-row"
      >
        <a class="group mb-8 flex flex-col p-4 md:w-3/5" href="/about">
          <div class="overflow-hidden rounded-3xl duration-300">
            <img
              src="https://media.discordapp.net/attachments/970793575153561640/970794418896502804/vueee.png"
              class="aspect-video w-full object-cover duration-300 group-hover:scale-110"
            />
          </div>
          <div
            class="mb-1 mt-3 text-sm font-light text-neutral-300 duration-300 group-hover:translate-x-2"
          >
            Update
          </div>
          <h4
            class="text-lg underline-offset-4 duration-300 group-hover:translate-x-2"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
            beatae!
          </h4>
        </a>
        <a class="group mb-8 flex flex-col p-4 md:w-2/5" href="/about">
          <div class="overflow-hidden rounded-3xl duration-300">
            <img
              src="https://images.unsplash.com/photo-1630514969818-94aefc42ec47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80"
              class="aspect-video w-full object-cover duration-300 group-hover:scale-110"
            />
          </div>
          <div
            class="mb-1 mt-3 text-sm font-light text-neutral-300 duration-300 group-hover:translate-x-2"
          >
            Community
          </div>
          <h4
            class="text-lg underline-offset-4 duration-300 group-hover:translate-x-2"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </h4>
        </a>
        <div class="flex w-full justify-end">
          <Interactive
            url="/about"
            class="flex items-center gap-2 rounded-2xl border border-neutral-600 px-3 py-2 duration-200 hover:scale-110 hover:rounded-3xl hover:bg-neutral-100 hover:text-black"
          >
            Newsroom
            <Icon name="mdi:arrow-right" class="h-4 w-4" />
          </Interactive>
        </div>
      </div>
    </section>
    <section class="flex w-full flex-col items-center bg-black p-4">
      <h2
        class="max-w-screen-mdl mb-12 mt-24 text-center text-4xl font-bold capitalize md:mb-8"
      >
        Free & Open Source, Forever
      </h2>
      <h3 class="max-w-screen-md px-4 text-neutral-400 md:text-lg">
        &emsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
        minima modi sunt eius laborum adipisci exercitationem? Nam rem aut vel
        adipisci doloribus consequuntur ipsum! Ipsa facere ducimus eaque
        provident ipsum.
      </h3>
      <div class="mt-4 flex w-full max-w-screen-md flex-col gap-4 md:flex-row">
        <div class="flex w-full justify-center gap-4">
          <Interactive
            url="/contribute"
            class="flex items-center gap-2 rounded-full bg-white text-black duration-200 hover:bg-brand-red hover:text-white"
          >
            Contribute
          </Interactive>
          <Interactive
            url="/docs"
            class="flex items-center gap-2 px-3 py-2 underline decoration-orange-700 decoration-wavy underline-offset-2 duration-200 hover:decoration-emerald-400 hover:underline-offset-8"
          >
            Documentation
            <Icon name="mdi:arrow-right" class="h-4 w-4" />
          </Interactive>
        </div>
      </div>
      <div
        class="mt-6 flex w-full max-w-screen-md flex-wrap justify-center gap-2"
      >
        <Contributors contributors={avatars} />
      </div>
    </section>
    <div
      id="download"
      class="grid w-full place-content-center rounded-b-3xl bg-gradient-to-b from-black via-black to-neutral-900 px-4 py-36 lg:rounded-b-[5.5rem]"
    >
      <div
        class="flex w-full max-w-screen-md flex-col justify-between md:flex-row"
      >
        <div class="mb-8 flex flex-col items-start">
          <div
            class="h-20 w-20 bg-[url('/logomark.svg')] bg-contain bg-center bg-no-repeat"
          >
          </div>
          <h2
            class="mt-8 max-w-screen-md text-center text-4xl font-bold capitalize"
          >
            Get VueTube
          </h2>
          <div class="my-8 max-w-[40ch] text-neutral-500">
            Download the latest stable version of VueTube | VueTube Version
            0.5.1 For Android | Released 2023.01.6 (2.22 MB)
          </div>
          <div class="flex flex-col gap-2 font-semibold">
            <Interactive
              class="flex items-center gap-2 rounded-full bg-brand-green px-6 py-2 duration-200 hover:bg-green-700"
            >
              Download Latest
            </Interactive>
            <Interactive
              class="flex items-center justify-center gap-2 rounded-full bg-white px-4 py-2 text-black duration-200 hover:bg-neutral-200"
              url="https://github.com/VueTubeApp"
            >
              GitHub
              <Icon name="mdi:arrow-right" class="h-4 w-4" />
            </Interactive>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex">
            <Interactive
              class="pointer-events-none flex flex-grow items-center gap-2 rounded-full bg-brand-blue px-6 py-2 font-semibold text-black duration-200"
            >
              Past Versions
            </Interactive>
            <Interactive
              class="group flex items-center justify-center gap-2 rounded-full px-6 py-2 duration-200"
            >
              Later Versions
              <Icon
                name="mdi:arrow-right"
                class="h-4 w-4 duration-300 group-hover:translate-x-1"
              />
            </Interactive>
          </div>
          <div class="w-full rounded-2xl bg-neutral-800 p-8"></div>
          <div class="w-full rounded-2xl bg-neutral-800 p-8"></div>
          <div class="w-full rounded-2xl bg-neutral-800 p-8"></div>
          <div class="mt-12 flex">
            <Interactive
              class="pointer-events-none flex flex-grow items-center gap-2 rounded-full bg-brand-red px-6 py-2 font-semibold duration-200"
            >
              Canary
            </Interactive>
            <Interactive
              class="group flex items-center justify-center gap-2 rounded-full px-6 py-2 duration-200"
            >
              Later Versions
              <Icon
                name="mdi:arrow-right"
                class="h-4 w-4 duration-300 group-hover:translate-x-1"
              />
            </Interactive>
          </div>
          <div class="w-full rounded-2xl bg-neutral-800 p-8"></div>
          <div class="w-full rounded-2xl bg-neutral-800 p-8"></div>
          <div class="w-full rounded-2xl bg-neutral-800 p-8"></div>
        </div>
      </div>
    </div>
  </section>
</Layout>
