---
import { Icon } from "astro-iconify";
import Layout from "../layouts/Layout.astro";
import Interactive from "../components/Interactive.vue";
---

<Layout title="VueTube">
  <section
    class="flex h-[100dvh] w-full max-w-screen-lg portrait:flex-col-reverse"
  >
    <!-- half and half -->
    <div
      class="w-1/2 bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112627081617084416/image.png?width=762&height=1400')] bg-contain bg-center bg-no-repeat portrait:h-1/2 portrait:w-full portrait:bg-cover portrait:bg-top"
    >
    </div>
    <div
      class="flex w-1/2 flex-col justify-center portrait:h-1/2 portrait:w-full portrait:justify-end"
    >
      <h1 class="mb-6 text-4xl font-black md:text-6xl portrait:text-center">
        Video Watching, <br />
        <span
          class="bg-[url('https://media1.giphy.com/media/l378oRMuApI3a35Cg/giphy.gif')] bg-clip-text bg-center text-transparent hue-rotate-90 invert"
        >
          Supercharged
        </span>
      </h1>
      <div
        class="flex items-start gap-x-2 portrait:flex-col portrait:items-center portrait:gap-y-6"
      >
        <Interactive
          class="border border-white bg-white px-6 py-2 font-semibold text-black duration-150 hover:border-neutral-600 hover:bg-black hover:px-10 hover:text-white focus:bg-black focus:px-10 focus:text-white focus:outline-none focus:ring focus:ring-neutral-300 active:scale-95 active:py-6 active:duration-75 landscape:rounded-r-md"
        >
          <Icon class="h-6 w-6" name="mdi:download" />
          Download
        </Interactive>
        <Interactive
          class="border border-neutral-600 px-6 py-2 font-semibold capitalize text-white duration-150 hover:bg-neutral-800 focus:bg-neutral-800 focus:outline-none focus:ring focus:ring-neutral-300 landscape:rounded-l-md"
        >
          or don't ¯\_(ツ)_/¯
        </Interactive>
      </div>
    </div>
  </section>
  <div
    class="sticky top-[5.5rem] -z-10 h-[10rem] w-full rounded-t-3xl bg-gradient-to-b from-neutral-800 to-transparent md:rounded-t-[10rem]"
    style="height: calc(50dvh - 5.5rem)"
  >
  </div>
  <section
    class="top-[5.5rem] flex w-full flex-col items-center"
    style="margin-top: calc(-50dvh + 10.5rem);"
  >
    <h2
      class="mb-8 text-center text-4xl font-bold capitalize md:mb-4 md:text-6xl"
    >
      You are out of control.
    </h2>
    <h3 class="max-w-prose px-4 text-neutral-400 md:text-lg">
      &emsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
      minima modi sunt eius laborum adipisci exercitationem? Nam rem aut vel
      adipisci doloribus consequuntur ipsum! Ipsa facere ducimus eaque provident
      ipsum.
    </h3>
    <section
      class="mt-20 flex w-full max-w-screen-md flex-col gap-4 px-4 md:flex-row"
    >
      <div
        class="flex h-96 cursor-pointer flex-col justify-between rounded-3xl bg-[url('https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3431&q=80')] bg-cover bg-bottom duration-300 hover:scale-105 hover:p-2 hover:text-blue-300 md:w-1/3"
      >
        <h3 class="m-6 font-semibold">Watch In Your <br /> Language</h3>
        <div
          class="m-3 mr-auto rounded-full bg-black px-2 py-1 text-xs font-semibold"
        >
          Community transations
        </div>
      </div>

      <div
        class="flex cursor-pointer flex-col items-center rounded-3xl bg-neutral-700 p-4 px-4 pb-0 duration-300 hover:scale-105 hover:p-6 hover:pb-0 hover:text-purple-300 md:w-2/3"
      >
        <h3 class="m-2 text-center text-xs font-thin text-neutral-300">
          Built-in extensions
        </h3>
        <h3 class="mb-4 text-center text-lg font-bold">
          Streamline Your <br /> Watching Experience
        </h3>
        <div class="flex h-full w-full">
          <div
            class="mx-auto mt-10 w-2/4 rounded-t-3xl border-8 border-b-0 border-purple-300 bg-purple-700"
          >
          </div>
          <div
            class="m-10 flex w-1/4 flex-col items-center justify-around text-center text-xs"
          >
            <span>Sponsorblock</span>
            <span>RYD</span>
            <span>Community Plugins</span>
          </div>
        </div>
      </div>
    </section>

    <section
      class="mt-4 flex w-full max-w-screen-md flex-col gap-4 px-4 md:flex-row"
    >
      <div
        class="flex cursor-pointer rounded-3xl bg-neutral-700 duration-300 hover:scale-105 hover:p-2 hover:pb-0 md:w-2/3"
      >
        <div class="w-1/2 p-4 pr-0 md:p-12">
          <span class="text-thin text-neutral-300">Customizations</span>
          <h3 class="mb-10 font-bold">Tailor-made For You</h3>
          <p class="text-xs text-neutral-300">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
            consectetur laboriosam modi fuga doloribus ut!
          </p>
        </div>
        <div
          class="mx-auto mt-auto h-36 w-28 rounded-t-3xl border-8 border-b-0 border-emerald-400 bg-emerald-800 md:h-56 md:w-44"
        >
        </div>
      </div>
      <div
        class="h-68 cursor-pointer rounded-3xl bg-cover duration-300 hover:scale-105 md:w-1/3"
        style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%),url('https://images.unsplash.com/photo-1510535043828-3d1edc68071e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80')"
      >
        <div
          class="flex h-full w-full flex-col items-start justify-end p-4 duration-300 hover:p-6"
        >
          <span class="font-light text-orange-300">Fast & Private</span>
          <h3 class="text-lg font-bold">Privacy At <br /> Lightning Speeds</h3>
        </div>
      </div>
    </section>

    <h2
      class="mb-12 mt-24 text-center text-4xl font-bold capitalize md:mb-8 md:text-6xl"
    >
      Newsroom
    </h2>
    <section
      class="relative mt-4 flex w-full max-w-screen-md flex-col gap-4 p-4 pb-24 md:flex-row"
    >
      <div class="mb-8 flex flex-col md:w-1/2">
        <div
          class="aspect-video rounded-3xl bg-[url('https://media.discordapp.net/attachments/970793575153561640/970794418896502804/vueee.png?width=1852&height=1306')] bg-cover bg-center"
        >
        </div>
        <div class="ml-4 mt-4 text-xs font-thin text-neutral-300">Update</div>
        <h4 class="ml-4 text-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
          beatae!
        </h4>
      </div>
      <div class="mb-8 md:w-1/2">
        <div
          class="aspect-video rounded-3xl bg-[url('https://images.unsplash.com/photo-1630514969818-94aefc42ec47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80')] bg-cover bg-center"
        >
        </div>
        <div class="ml-4 mt-4 text-xs font-thin text-neutral-300">
          Community
        </div>
        <h4 class="ml-4 text-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
          beatae!
        </h4>
      </div>
      <button
        class="absolute bottom-12 right-0 flex items-center gap-2 rounded-2xl border border-neutral-600 px-3 py-2 duration-200 hover:scale-110 hover:rounded-3xl hover:bg-neutral-100 hover:text-black"
      >
        Newsroom
        <Icon name="mdi:arrow-right" class="h-4 w-4" />
      </button>
    </section>
    <section
      class="flex w-full flex-col items-center bg-gradient-to-b from-transparent via-black to-black p-4"
    >
      <h2
        class="md:text-6x max-w-screen-mdl mb-12 mt-24 text-center text-4xl font-bold capitalize md:mb-8"
      >
        🥫 Free & Open Sauce, Forever
      </h2>
      <h3 class="max-w-screen-md px-4 text-neutral-400 md:text-lg">
        &emsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
        minima modi sunt eius laborum adipisci exercitationem? Nam rem aut vel
        adipisci doloribus consequuntur ipsum! Ipsa facere ducimus eaque
        provident ipsum.
      </h3>
      <div class="mt-8 flex w-full max-w-screen-md flex-col gap-4 md:flex-row">
        <div class="flex w-full justify-center gap-4">
          <button
            class="flex items-center gap-2 rounded-full bg-white px-4 py-2 text-black duration-200 hover:bg-orange-700 hover:text-white"
          >
            Contribute
          </button>
          <button
            class="flex items-center gap-2 px-3 py-2 underline decoration-orange-700 decoration-wavy underline-offset-2 duration-200 hover:decoration-emerald-400 hover:underline-offset-8"
          >
            Documentation
            <Icon name="mdi:arrow-right" class="h-4 w-4" />
          </button>
        </div>
      </div>
    </section>
    <div
      class="grid h-[100vh] w-full place-content-center rounded-b-3xl bg-gradient-to-b from-black via-black to-neutral-900"
    >
      test 2.
    </div>
  </section>
</Layout>
