---
import Layout from "../layouts/Layout.astro";
---

<Layout title="VueTube">
  <nav
    class="sticky m-4 rounded-xl border border-white border-opacity-50 bg-neutral-500 bg-opacity-50 p-4 backdrop-blur-md"
  >
    VyooTyoob
  </nav>

  <!-- glow circle -->
  <div
    class="fixed left-1/2 top-0 -z-10 h-[100vw] w-[100vw] -translate-x-1/2 -translate-y-1/2 rounded-full bg-neutral-800 opacity-50 blur-[420px] portrait:h-[100vh] portrait:w-[100vh]"
  >
  </div>
</Layout>
