---
import { Icon } from "astro-iconify";
import Layout from "../layouts/Layout.astro";
import Interactive from "../components/Interactive.vue";
---

<Layout title="VueTube">
  <section
    class="z-10 flex h-[100dvh] w-full max-w-screen-lg portrait:flex-col-reverse"
  >
    <!-- half and half -->
    <div
      class="w-1/2 bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112627081617084416/image.png?width=762&height=1400')] bg-contain bg-center bg-no-repeat portrait:h-1/2 portrait:bg-cover portrait:bg-top portrait:w-full"
    >
    </div>
    <div class="flex flex-col w-1/2 justify-center portrait:justify-end portrait:h-1/2 portrait:w-full">
      <h1 class="mb-6 text-4xl font-black md:text-6xl portrait:text-center">
        Video Watching, <br />
        <span
          class="bg-[url('https://media1.giphy.com/media/l378oRMuApI3a35Cg/giphy.gif')] bg-clip-text bg-center text-transparent hue-rotate-90 invert"
        >
          Supercharged
        </span>
      </h1>
      <div
        class="flex items-start gap-x-2 portrait:flex-col portrait:items-center portrait:gap-y-6"
      >
        <Interactive
          class="border landscape:rounded-r-md border-white bg-white px-6 py-2 font-semibold text-black duration-150 hover:bg-black hover:px-10 hover:text-white focus:bg-black focus:px-10 focus:text-white focus:outline-none focus:ring focus:ring-neutral-300 active:scale-95 active:py-6 active:duration-75"
        >
          <Icon class="h-6 w-6" name="mdi:download" />
          Download
        </Interactive>
        <Interactive
          class="border landscape:rounded-l-md border-white px-6 py-2 font-semibold capitalize text-white duration-150 hover:bg-neutral-800 focus:bg-neutral-800 focus:outline-none focus:ring focus:ring-neutral-300"
        >
          or don't ¯\_(ツ)_/¯
        </Interactive>
      </div>
    </div>
  </section>
  <div
    class="sticky top-[5.5rem] h-[10rem] w-full rounded-t-3xl bg-gradient-to-b from-neutral-800 to-transparent md:rounded-t-[10rem]"
    style="height: calc(50dvh - 5.5rem)"
  >
  </div>
  <section
    class="top-[5.5rem] z-10 flex h-[200dvh] w-full flex-col items-center px-6 md:px-12"
    style="margin-top: calc(-50dvh + 10.5rem);"
  >
    <h2
      class="mb-2 text-center text-4xl font-bold capitalize md:mb-4 md:text-6xl"
    >
      You are out of control.
    </h2>
    <h3 class="max-w-prose text-center md:text-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minima modi
      sunt eius laborum adipisci exercitationem? Nam rem aut vel adipisci
      doloribus consequuntur ipsum! Ipsa facere ducimus eaque provident ipsum.
    </h3>
    <div
      class="h-[100dvh] w-full max-w-screen-lg bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112651039968088064/image.png?width=1468&height=1402')] bg-contain bg-center bg-no-repeat"
    >
    </div>
    <div
      class="h-[100dvh] w-full max-w-screen-lg bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112653454859571231/image.png?width=2382&height=1402')] bg-contain bg-center bg-no-repeat lg:w-[60vw]"
    >
    </div>
  </section>
</Layout>
