---
import Layout from '../layouts/Layout.astro';
---

<Layout title="VueTube">
	<nav class="sticky p-4 rounded-xl border border-white border-opacity-50 opacity-50 backdrop-blur-md ">VyooTyoob</nav>
</Layout>
