<footer class="fixed bottom-0 w-full text-white">
  <div
    class="m-auto flex h-full w-full max-w-screen-md justify-between gap-8 p-8"
  >
    <!-- disclaimer -->
    <div class="flex flex-col justify-between">
      <div
        class="h-12 w-36 bg-[url('/logo.svg')] bg-contain bg-center bg-no-repeat"
      >
      </div>
      <div class="my-8 text-neutral-500">
        The VueTube project and its contents are not affiliated with, funded,
        authorized, endorsed by, or in any way associated with YouTube, Google
        LLC or any of its affiliates and subsidiaries.
      </div>
      <div class="text-xs">
        Copyleft © 2077 VueTube™, Inc. <br /> Some rights reserved.
      </div>
    </div>

    <div class="flex w-full flex-col justify-end gap-8 md:flex-row">
      <!-- links -->
      <div class="flex flex-col gap-2 pt-4 text-neutral-300">
        <!-- <b class="mb-4 font-bold text-white">Sitemap.</b> -->
        <a
          class="cursor-pointer duration-300 hover:translate-x-1 hover:text-white md:text-xl"
        >
          Team
        </a>
        <a
          class="cursor-pointer duration-300 hover:translate-x-1 hover:text-white md:text-xl"
        >
          Branding
        </a>
        <a
          class="cursor-pointer duration-300 hover:translate-x-1 hover:text-white md:text-xl"
        >
          Support
        </a>
        <a
          class="cursor-pointer duration-300 hover:translate-x-1 hover:text-white md:text-xl"
        >
          Donate
        </a>
        <a
          class="md:ext-xl cursor-pointer duration-300 hover:translate-x-1 hover:text-white md:text-xl"
        >
          Connect
        </a>
      </div>

      <!-- socials -->
      <div class="flex flex-col gap-1 pt-4 text-neutral-300">
        <!-- <b class="mb-4 font-bold text-white">Socials.</b> -->
        <a
          class="cursor-pointer duration-300 hover:translate-x-1 hover:text-[#1DA1F2]"
        >
          Twitter
        </a>
        <a
          class="cursor-pointer duration-300 hover:translate-x-1 hover:text-[#FF4500]"
        >
          Reddit
        </a>
        <a
          class="cursor-pointer duration-300 hover:translate-x-1 hover:text-[#5865F2]"
        >
          Discord
        </a>
        <a
          class="cursor-pointer duration-300 hover:translate-x-1 hover:text-white"
        >
          GitHub
        </a>
        <a
          class="cursor-pointer duration-300 hover:translate-x-1 hover:text-[#FF0000]"
        >
          YouTube
        </a>
      </div>
    </div>
  </div>
</footer>
