<footer class="h-[50vh] w-full">
  <div
    class="relative top-0 grid h-96 w-full place-items-center overflow-hidden px-4 py-16"
  >
    <!-- <div
  class="sticky bottom-0 h-[40vh] w-full bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112654424842707047/image.png?width=2592&height=1128')] bg-cover bg-top bg-no-repeat"
  >
</div> -->
    footsies.
  </div>
</footer>
