---
import { Icon } from "astro-iconify";
---

<header
  class="sticky top-0 z-50 flex h-[5.5rem] w-full items-center justify-between overflow-hidden p-4 backdrop-blur-xl"
>
  <div class="w-1/4">
    <a
      class="hidden h-12 w-36 bg-[url('/logo.svg')] bg-contain bg-center bg-no-repeat md:block"
      href="/"
    >
    </a>
  </div>

  <nav
    class="top-0 hidden w-1/2 justify-center gap-4 md:flex"
    style="text-shadow: 0 0 0.25rem #000, 0 0 0.5rem #000, 0 0 0.75rem #000;"
  >
    <a
      href="/features"
      class="block cursor-pointer rounded-2xl bg-neutral-500 bg-opacity-25 p-2 backdrop-blur-md"
    >
      Features
    </a>
    <a href="/contribute" class="block cursor-pointer p-2">Contribute</a>
    <a href="/docs/" class="block cursor-pointer p-2">Docs</a>
    <a href="/about" class="block cursor-pointer p-2">About Us</a>
  </nav>

  <div class="flex w-1/4 items-center justify-end gap-4">
    <a
      class="grid h-10 w-10 place-items-center rounded-2xl duration-300 hover:scale-105 hover:bg-[#5865F2] active:scale-90 active:duration-0"
      href="https://vuetube.app/discord"
      target="_blank"
    >
      <Icon class="h-6 w-6" name="fa6-brands:discord" />
    </a>
    <a
      class="grid h-10 w-10 place-items-center rounded-2xl duration-300 hover:scale-105 hover:bg-white hover:text-black active:scale-90 active:duration-0"
      href="https://github.com/VueTubeApp/"
      target="_blank"
    >
      <Icon class="h-6 w-6" name="fa6-brands:github" />
    </a>
    <button
      id="dl"
      class="flex items-center overflow-hidden rounded-3xl border border-white bg-white py-2 pl-3 pr-4 font-black uppercase text-black duration-75 hover:scale-105 hover:border-neutral-600 hover:bg-transparent hover:text-white active:scale-110 active:rounded-2xl active:duration-150"
    >
      <Icon class="mr-4 h-6 w-6" name="mdi:download" />
      Download
    </button>
  </div>
</header>

<style>
  #dl:hover > svg {
    animation: download 0.5s linear 1;
  }
  @keyframes download {
    0% {
      translate: 0 0;
    }
    33% {
      translate: 0 2rem;
    }
    34% {
      translate: -5rem 2rem;
    }
    35% {
      translate: -5rem -2rem;
    }
    36% {
      translate: 0 -2rem;
    }
    66% {
      translate: 0 2rem;
    }
    67% {
      translate: -5rem 2rem;
    }
    68% {
      translate: -5rem -2rem;
    }
    69% {
      translate: 0 -2rem;
    }
    95% {
      translate: 0 0.5rem;
    }
    100% {
      translate: 0 0;
    }
  }
  #dl > svg {
    transition: all 150ms ease-in-out;
  }
</style>
