---
import Head from "../components/Head.vue";
import Foot from "../components/Foot.astro";

export interface Props {
  title?: string;
  stickyFooter?: boolean;
  showFooter?: boolean;
  navPadding?: boolean;
}

const {
  title,
  stickyFooter = false,
  showFooter = true,
  navPadding = true,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Supercharge your video watching experience on the go. VueTube is the fully customizable, free and open source app built by the community. Download now!"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="theme-color" content="#B3E5FC" />
    <meta property="og:site_name" content="VueTube" />
    <meta property="og:url" content="https://vuetube.app" />
    <meta property="og:type" content="website" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ` : ""}VueTube</title>
  </head>
  <body
    class:list={[
      "flex h-fit min-h-screen flex-col items-center",
      navPadding ? "pt-[5.5rem]" : "",
      stickyFooter ? "pb-[25rem] md:pb-[19rem]" : "justify-between",
    ]}
  >
    <Head client:load />
    <main class:list={["flex flex-col z-10 w-full bg-black text-white"]}>
      <!-- glow circle -->
      <div
        class="pointer-events-none fixed left-1/2 top-0 -z-10 h-[200dvh] w-full -translate-x-1/2 -translate-y-1/2 rounded-full bg-neutral-800 opacity-50 blur-[420px] portrait:h-screen portrait:w-screen"
      >
      </div>
      <div class="grid w-full place-items-center">
        <slot />
      </div>
    </main>
    {showFooter && <Foot fixed={stickyFooter} />}
  </body>
</html>

<style is:global>
  html {
    background-color: #000;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  /* custom rounded scrollbar */
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    background: #000;
    border: solid 2px #000;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(231, 231, 231, 0.8);
    border: solid 2px #000;
    border-radius: 0.5rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(231, 231, 231, 0.9);
  }
</style>
