---
import "@fontsource-variable/Montserrat";
import { Icon } from "astro-iconify";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col items-center">
    <header
      class="sticky top-0 z-50 h-[5.5rem] w-full overflow-hidden bg-transparent backdrop-blur-xl"
    >
      <!-- <div
        class="fixed left-1/2 top-0 -z-10 h-[100vw] w-[100vw] -translate-x-1/2 -translate-y-1/2 rounded-full bg-neutral-800 opacity-50 blur-[420px] portrait:h-[100vh] portrait:w-[100vh]"
      >
      </div> -->
      <a
        class="fixed left-4 top-4 hidden h-12 w-36 bg-[url('logo.svg')] bg-contain bg-center bg-no-repeat md:block"
        href="/"
      >
      </a>

      <nav
        class="fixed left-1/2 top-0 hidden -translate-x-1/2 gap-4 p-5 mix-blend-difference md:flex"
      >
        <a
          class="block cursor-pointer rounded-2xl bg-neutral-500 bg-opacity-50 p-2 backdrop-blur-md"
          >Features</a
        >
        <a class="block cursor-pointer p-2">Contribute</a>
        <a class="block cursor-pointer p-2">Docs</a>
        <a class="block cursor-pointer p-2">About Us</a>
      </nav>

      <div class="fixed right-4 top-4 flex gap-4">
        <a
          class="block rounded-2xl p-2 duration-300 hover:scale-110 hover:bg-[#5865F2] hover:text-black active:scale-90"
          href="https://vuetube.app/discord"
          target="_blank"
        >
          <Icon class="h-6 w-6" name="fa6-brands:discord" />
        </a>
        <a
          class="block rounded-2xl p-2 duration-300 hover:scale-110 hover:bg-white hover:text-black active:scale-90"
          href="https://github.com/VueTubeApp/"
          target="_blank"
        >
          <Icon class="h-6 w-6" name="fa6-brands:github" />
        </a>
        <button
          class="flex items-center rounded-3xl border border-white bg-white px-4 py-2 font-black uppercase text-black duration-150 hover:scale-110 hover:rounded-2xl hover:border-neutral-500 hover:bg-black hover:text-white active:translate-y-1/2 active:scale-90 active:duration-75"
        >
          <Icon class="mr-4 h-6 w-6" name="mdi:download" />
          Download
        </button>
      </div>
    </header>
  </body>
  <!-- glow circle -->
  <div
    class="fixed left-1/2 top-0 -z-10 h-[100vw] w-[100vw] -translate-x-1/2 -translate-y-1/2 rounded-full bg-neutral-800 opacity-50 blur-[420px] portrait:h-[100vh] portrait:w-[100vh]"
  >
  </div>
  <!-- <main class="-mt-[5.5rem] w-full"> -->
  <slot />
  <!-- </main> -->
  <footer
    class="sticky top-[15.5rem] w-full bg-black"
    style="max-height: calc(100dvh - 15.5rem);"
  >
    <div
      class="relative top-0 grid h-96 w-full place-items-center overflow-hidden bg-black px-4 py-16"
    >
      <div
        class="sticky bottom-0 h-[40vh] w-full bg-[url('https://media.discordapp.net/attachments/952985066424897574/1112654424842707047/image.png?width=2592&height=1128')] bg-cover bg-top bg-no-repeat"
      >
      </div>
    </div>
  </footer>
</html>

<style is:global>
  html {
    background-color: #000;
    color: white;
  }
</style>
