---
import Head from "../components/Head.vue";
import Foot from "../components/Foot-SideNav.astro";

import { Icon } from "astro-iconify";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      html {
        background-color: #000;
        overflow-y: scroll;
      }
      /* custom rounded scrollbar */
      ::-webkit-scrollbar {
        width: 0.8rem;
      }
      ::-webkit-scrollbar-track {
        background: #000;
        border: solid 2px #000;
      }
      ::-webkit-scrollbar-thumb {
        background: rgba(231, 231, 231, 0.8);
        border: solid 2px #000;
        border-radius: 0.5rem;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: rgba(231, 231, 231, 0.9);
      }
    </style>
  </head>
  <body class="flex flex-col items-center pb-[30rem] md:pb-[19rem]">
    <Head client:load />
    <nav
      class="fixed top-[5.5rem] flex w-full items-center whitespace-nowrap border-b border-t border-neutral-800 p-4 px-6 text-white outline-2 outline-red-500 backdrop-blur-xl lg:hidden"
    >
      <button id="menu" class="mr-6">
        <Icon class="h-6 w-6" name="mdi:menu" />
      </button>
      <span>The Mobile App {">"} Environment Setup</span>
    </nav>
    <aside
      id="nav"
      class="fixed left-0 top-[9rem] z-50 flex -translate-x-full flex-col gap-2 overflow-y-auto border-r border-neutral-800 px-4 py-2 pt-4 text-white backdrop-blur-xl duration-300 ease-in-out lg:top-[5.5rem] lg:translate-x-0 lg:border-r-0"
      style="height: calc(100dvh - 5.5rem)"
    >
      <!-- TODO : replace with a Vue component that loops over a map of links -->
      <div
        class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Welcome
      </div>
      <div
        class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Getting Started
      </div>
      <div class="m-2 rounded-2xl bg-neutral-800 bg-opacity-50 p-2">
        <div class="m-2 text-sm font-bold">The Mobile App</div>
        <div
          class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
          style="text-shadow: 0 0 1rem white;"
        >
          Setup Environment
        </div>
        <div
          class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
          style="text-shadow: 0 0 1rem white;"
        >
          Xcode
        </div>
        <div
          class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
          style="text-shadow: 0 0 1rem white;"
        >
          Android Studio
        </div>
        <div
          class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
          style="text-shadow: 0 0 1rem white;"
        >
          Capacitor
        </div>
        <div
          class="cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
          style="text-shadow: 0 0 1rem white;"
        >
          Project Folder Structure
        </div>
      </div>
      <b class="mt-2 pl-2 text-sm font-bold">The Extractor</b>
      <div
        class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Setup Environment
      </div>
      <div
        class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        /youtube-new
      </div>
      <div
        class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        /youtube
      </div>
      <div
        class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Usage Examples
      </div>
      <div
        class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Testing
      </div>
      <div
        class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Helpers
      </div>
      <!-- <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Types
    </div>
    <div
      class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
      style="text-shadow: 0 0 1rem white;"
    >
      Error Handling
    </div> -->
      <b class="mt-2 pl-2 text-sm font-bold">Plugins</b>
      <div
        class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        VueTube Plugins
      </div>
      <div
        class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Capacitor Plugins
      </div>
      <b class="mt-2 pl-2 text-sm font-bold">Translations</b>
      <div
        class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        JSON files
      </div>
      <div
        class="ml-2 cursor-pointer rounded-lg bg-opacity-50 px-2 py-1 hover:bg-neutral-800"
        style="text-shadow: 0 0 1rem white;"
      >
        Using VueTube Translator (Beta)
      </div>
      <!-- TODO : add sections for this website -->
    </aside>
    <main class="z-10 grid w-full place-items-center bg-black text-white">
      <!-- glow circle -->
      <div
        class="pointer-events-none fixed left-1/2 top-0 -z-10 h-[100vw] w-[100vw] -translate-x-1/2 -translate-y-1/2 rounded-full bg-neutral-800 opacity-50 blur-[420px] portrait:h-[100vh] portrait:w-[100vh]"
      >
      </div>
      <slot />
    </main>
    <Foot />
    <script>
      const menuButton = document.getElementById("menu");
      menuButton?.addEventListener("click", () => {
        document.getElementById("nav")?.classList.toggle("-translate-x-full");
      });
    </script>
  </body>
</html>
